@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
h1 {
  font-size: 32px;
  text-decoration: underline;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.button-list button {
  display: inline-block;
  float: left;
}

.primary-button {
  border: 2px solid white;
  background-color: transparent;
  padding: 2% 8%;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 10%;
}

.hide {
  display: none;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.13%;
}

.span_1_of_3 {
  width: 32.26%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }

  .span_3_of_3, .span_2_of_3, .span_1_of_3 {
    width: 100%;
    text-transform: capitalize;
  }
}
.sidebar {
  width: 20%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: Aqua;
}

/* No files to import found in Themes/**\/* */
/* No files to import found in Vendor/**\/* */
.nav {
  width: 100%;
}
.nav .logo {
  margin: 3% 20%;
  padding-left: 3%;
  background: url("../../../../media/paper-plane.png") no-repeat;
}
.nav .nav-items {
  display: inline;
}
.nav .nav-items ul li {
  color: #FFFFFF;
}

.search {
  background-color: white;
}
